.center-icons {
    display: flex;
}

.center-icons img {
    width: 30px;
    background-color: white;
    border-radius: 30%;
    padding: 8px;
    margin-right: 20px;
    margin-left: 20px;
    border-style: solid;
    border-width: 6px;
    border-color: rgba(8, 203, 0, 0.7);
}
