.contact-page {
    display: flex;
    flex-direction: row;
    gap: 250px;
    margin-left: 200px;
    margin-top: 150px;
    margin-right: 200px;
}

.left {
    margin-top: 11px;
}
.contact-info {
    display: flex;
    flex-direction: column;
}

.contact-heading {
    padding: 8px;
    font-weight: bold;
}

.contact-side-heading {
    margin-top: -40px;
    padding: 8px;
    margin-bottom: 10px;
}

.contact-description {
    padding: 8px;
    font-size: 16px;
    margin-bottom: 20px;
}

.gmail {
    display: flex;
    flex-direction: row;
}

.location {
    display: flex;
    flex-direction: row;
}

.gmail img {
    width: 30px;
    padding: 8px;
    margin-right: 20px;
}

.location img {
    width: 30px;
    padding: 8px;
    margin-right: 20px;
}
.center-icons {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 30px;
    justify-content: center;
}

.center-icons img {
    width: 30px;
    padding: 8px;
    margin-right: 20px;
    border-radius: 80px;
    background-color: rgb(111, 78, 55);
    border-width: 6px;
    border-color: rgb(190, 150, 120);
}

.form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.name {
    display: flex;
    flex-direction: column;
}

.name label {
    margin-bottom: 5px;
}

.name input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 600px;
    margin-bottom: 5px;
}

.email {
    display: flex;
    flex-direction: column;
}

.email label {
    margin-bottom: 5px;
}

.email input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 600px;
    margin-bottom: 5px;
}

.subject {
    display: flex;
    flex-direction: column;
}

.subject label {
    margin-bottom: 5px;
}

.subject select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 620px;
    margin-bottom: 5px;
}

.message {
    display: flex;
    flex-direction: column;
}

.message label {
    margin-bottom: 5px;
}

.message textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 600px;
    margin-bottom: 5px;
    resize: none;
}

.send-btn button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    background-color: rgb(111, 78, 55);
    color: white;
    cursor: pointer;
}

.send-btn button:hover {
    background-color: rgba(111, 78, 55, 0.8);
}
