.header {
    display: flex;
    flex-direction: row;
    background-color: rgb(111, 78, 55);
    width: 100%;
    height: 100px;
    color: rgb(254, 216, 177);
}

.name-section {
    display: flex;
    flex: 1;
    align-items: center;
    margin-left: 60px;
}
.name-section button {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;

    font-size: 24px;
    font-weight: 700;
    font-family: inherit;

    color: inherit;
    cursor: pointer;
}

.first-name {
    color: rgb(254, 216, 177);
    display: inline-block;
}

.last-name {
    color: rgb(236, 177, 118);
    margin-left: -6px;
}

.name-section button:focus-visible {
    outline: 2px solid rgb(236, 177, 118);
    outline-offset: 4px;
}

.header-topics {
    display: flex;
    align-items: center;
}

.header-topics button {
    background-color: transparent;
    color: rgb(254, 216, 177);
    border: none;
    font-size: 20px;
    font-weight: 500;
    padding: 4px;
    margin-right: 60px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
}

.resume-btn {
    text-decoration: none;
}

.contact-page {
    display: flex;
    flex-direction: row;
    gap: 250px;
    margin-left: 200px;
    margin-top: 150px;
    margin-right: 200px;
}

.left {
    margin-top: 11px;
    color: rgb(111, 78, 55);
}
.contact-info {
    display: flex;
    flex-direction: column;
}

.contact-heading {
    padding: 8px;
    font-weight: bold;
}

.contact-side-heading {
    margin-top: -20px;
    padding: 8px;
    margin-bottom: 10px;
}

.contact-description {
    padding: 8px;
    font-size: 16px;
    margin-bottom: 20px;
}

.gmail {
    display: flex;
    flex-direction: row;
}

.location {
    display: flex;
    flex-direction: row;
}

.gmail img {
    width: 30px;
    padding: 8px;
    margin-right: 20px;
}

.location img {
    width: 30px;
    padding: 8px;
    margin-right: 20px;
}
.center-icons {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 30px;
    justify-content: center;
}

.center-icons img {
    width: 30px;
    padding: 8px;
    margin-right: 20px;
    border-radius: 10px;
    background-color: rgb(111, 78, 55);
}

.form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
    border: 1px solid rgb(111, 78, 55);
    box-shadow: 0 0 0 2px rgba(111, 78, 55, 0.3);
}

.name {
    display: flex;
    flex-direction: column;
}

.name label {
    margin-bottom: 5px;
    color: rgb(111, 78, 55);
}

.name input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 600px;
    margin-bottom: 5px;
}

.email {
    display: flex;
    flex-direction: column;
}

.email label {
    margin-bottom: 5px;
    color: rgb(111, 78, 55);
}

.email input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 600px;
    margin-bottom: 5px;
}

.subject {
    display: flex;
    flex-direction: column;
}

.subject label {
    margin-bottom: 5px;
    color: rgb(111, 78, 55);
}

.subject select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 620px;
    margin-bottom: 5px;
}

.message {
    display: flex;
    flex-direction: column;
}

.message label {
    margin-bottom: 5px;
    color: rgb(111, 78, 55);
}

.message textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 600px;
    margin-bottom: 5px;
    resize: none;
}

.send-btn button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    background-color: rgb(111, 78, 55);
    color: white;
    cursor: pointer;
}

.send-btn button:hover {
    background-color: rgba(111, 78, 55, 0.8);
}
