* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: rgb(111, 78, 55);
    width: 100%;
    height: 100px;
    color: rgb(254, 216, 177);
}

.name-section {
    display: flex;
    font-size: 24px;
    font-weight: 700;
    margin-left: 60px;
    flex: 1;
    align-items: center;
}

.first-name {
    color: rgb(254, 216, 177);
    display: inline-block;
}

.last-name {
    color: rgb(236, 177, 118);
}

.header-topics {
    display: flex;
    align-items: center;
}

.header-topics button {
    background-color: transparent;
    color: rgb(254, 216, 177);
    border: none;
    font-size: 20px;
    font-weight: 500;
    padding: 4px;
    margin-right: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
}

.resume-btn {
    text-decoration: none;
}

.center-profile {
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
}

.personal-picture img {
    width: 400px;
    height: auto;
    margin-left: 40px;
}

.full-about {
    display: flex;
    flex-direction: column;
}

.about {
    color: rgb(111, 78, 55);
    padding: 2px;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 24px;
}

.about-description {
    color: rgb(166, 123, 91);
    padding: 2px;
    font-weight: 500;
    width: 1300px;
    font-size: 22px;
}
