.header {
    display: flex;
    flex-direction: row;
    background-color: rgb(111, 78, 55);
    width: 100%;
    height: 100px;
    color: rgb(254, 216, 177);
}

.name-section {
    display: flex;
    flex: 1;
    align-items: center;
    margin-left: 60px;
}
.name-section button {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;

    font-size: 24px;
    font-weight: 700;
    font-family: inherit;

    color: inherit;
    cursor: pointer;
}

.first-name {
    color: rgb(254, 216, 177);
    display: inline-block;
}

.last-name {
    color: rgb(236, 177, 118);
    margin-left: -6px;
}

.name-section button:focus-visible {
    outline: 2px solid rgb(236, 177, 118);
    outline-offset: 4px;
}

.header-topics {
    display: flex;
    align-items: center;
}

.header-topics button {
    background-color: transparent;
    color: rgb(254, 216, 177);
    border: none;
    font-size: 20px;
    font-weight: 500;
    padding: 4px;
    margin-right: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
}

.resume-btn {
    text-decoration: none;
}

.project-heading {
    color: rgb(111, 78, 55);
    margin-top: 70px;
    margin-left: 80px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    margin-top: 70px;
    margin-left: 80px;
    margin-bottom: 80px;
}

.project-card {
    flex: 1 1 calc(33.33% - 40px);
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
}

.project-card1,
.project-card2,
.project-card3,
.project-card4 {
    transition:
        transform 0.5s ease,
        box-shadow 0.5s ease;
}

.project-card1:hover,
.project-card2:hover,
.project-card3:hover,
.project-card4:hover {
    transform: translateY(-12px) scale(1.02);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

.project-card1 {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: rgb(111, 78, 55);
    border-radius: 10px;
}

.image1 img {
    width: 500px;
    height: auto;
    border-radius: 20px;
    flex: 1;
}

.project-title1 {
    color: rgb(254, 216, 177);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    flex: 2;
}

.description1 {
    color: rgb(254, 216, 177);
    padding: 5px;
    text-align: left;
    width: 480px;
    flex: 3;
}

.view-details1 button {
    color: rgb(111, 78, 55);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(236, 177, 118);
    border-radius: 20px;
    border: none;
    flex: 4;
    margin-left: 5px;
}

.project-card2 {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: rgb(111, 78, 55);
    border-radius: 10px;
}

.image2 img {
    width: 500px;
    height: auto;
    border-radius: 20px;
    flex: 1;
}

.project-title2 {
    color: rgb(254, 216, 177);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    flex: 2;
}

.description2 {
    color: rgb(254, 216, 177);
    padding: 5px;
    text-align: left;
    width: 480px;
    flex: 3;
}

.view-details2 button {
    color: rgb(111, 78, 55);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(236, 177, 118);
    border-radius: 20px;
    border: none;
    flex: 4;
    margin-left: 5px;
}

.project-card3 {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: rgb(111, 78, 55);
    border-radius: 10px;
}

.image3 img {
    width: 500px;
    height: auto;
    border-radius: 20px;
    flex: 1;
}

.project-title3 {
    color: rgb(254, 216, 177);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    flex: 2;
}

.description3 {
    color: rgb(254, 216, 177);
    padding: 5px;
    text-align: left;
    width: 480px;
    flex: 3;
}

.view-details3 button {
    color: rgb(111, 78, 55);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(236, 177, 118);
    border-radius: 20px;
    border: none;
    flex: 4;
    margin-left: 5px;
}

.project-card4 {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: rgb(111, 78, 55);
    border-radius: 10px;
}

.image4 img {
    width: 500px;
    height: auto;
    border-radius: 20px;
    flex: 1;
}

.project-title4 {
    color: rgb(254, 216, 177);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    flex: 2;
}

.description4 {
    color: rgb(254, 216, 177);
    padding: 5px;
    text-align: left;
    width: 480px;
    flex: 3;
}

.view-details4 button {
    color: rgb(111, 78, 55);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(236, 177, 118);
    border-radius: 20px;
    border: none;
    flex: 4;
    margin-left: 5px;
}
