.project-heading {
    color: rgb(111, 78, 55);
    margin-top: 50px;
    margin-left: 80px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    padding: 100px, 250px;
    margin-top: 80px;
    margin-left: 80px;
    margin-bottom: 80px;
}

.project-card {
    flex: 1 1 calc(33.33% - 40px);
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
}

.project-card1 {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: rgb(111, 78, 55);
    border-radius: 10px;
}

.image1 img {
    width: 500px;
    height: auto;
    border-radius: 20px;
    flex: 1;
}

.project-title1 {
    color: rgb(254, 216, 177);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    flex: 2;
}

.description1 {
    color: rgb(254, 216, 177);
    padding: 5px;
    text-align: left;
    width: 480px;
    flex: 3;
}

.view-details1 button {
    color: rgb(111, 78, 55);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(236, 177, 118);
    border-radius: 20px;
    border: none;
    flex: 4;
    margin-left: 5px;
}

.project-card2 {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: rgb(111, 78, 55);
    border-radius: 10px;
}

.image2 img {
    width: 500px;
    height: auto;
    border-radius: 20px;
    flex: 1;
}

.project-title2 {
    color: rgb(254, 216, 177);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    flex: 2;
}

.description2 {
    color: rgb(254, 216, 177);
    padding: 5px;
    text-align: left;
    width: 480px;
    flex: 3;
}

.view-details2 button {
    color: rgb(111, 78, 55);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(236, 177, 118);
    border-radius: 20px;
    border: none;
    flex: 4;
    margin-left: 5px;
}

.project-card3 {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: rgb(111, 78, 55);
    border-radius: 10px;
}

.image3 img {
    width: 500px;
    height: auto;
    border-radius: 20px;
    flex: 1;
}

.project-title3 {
    color: rgb(254, 216, 177);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    flex: 2;
}

.description3 {
    color: rgb(254, 216, 177);
    padding: 5px;
    text-align: left;
    width: 480px;
    flex: 3;
}

.view-details3 button {
    color: rgb(111, 78, 55);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(236, 177, 118);
    border-radius: 20px;
    border: none;
    flex: 4;
    margin-left: 5px;
}

.project-card4 {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: rgb(111, 78, 55);
    border-radius: 10px;
}

.image4 img {
    width: 500px;
    height: auto;
    border-radius: 20px;
    flex: 1;
}

.project-title4 {
    color: rgb(254, 216, 177);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    flex: 2;
}

.description4 {
    color: rgb(254, 216, 177);
    padding: 5px;
    text-align: left;
    width: 480px;
    flex: 3;
}

.view-details4 button {
    color: rgb(111, 78, 55);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(236, 177, 118);
    border-radius: 20px;
    border: none;
    flex: 4;
    margin-left: 5px;
}
